name: deploy
on:
  push:
    branches: main
    paths-ignore:
      - 'README.md'
  workflow_dispatch:

jobs:
  # This is a reference to the test job in the test.yml workflow
  test:
    uses: ./.github/workflows/test.yml

  deploy:
    needs: test  # This ensures deploy only runs if test passes
    runs-on: self-hosted
    steps:
      - name: pull
        working-directory: /www/telemetry-api/
        run: git reset --hard && git pull

      - name: restart
        working-directory: /www/telemetry-api/
        run: chmod +x restart.sh && ./restart.sh